
.ipynb_checkpoints/microHayekianMarket-checkpoint.ipynb
paperLaTeX_folder/microHayekianMarket/microHayekianMarket.aux
paperLaTeX_folder/microHayekianMarket/microHayekianMarket.bbl
paperLaTeX_folder/microHayekianMarket/microHayekianMarket.blg
paperLaTeX_folder/microHayekianMarket/microHayekianMarket.idx
paperLaTeX_folder/microHayekianMarket/microHayekianMarket.ilg
paperLaTeX_folder/microHayekianMarket/microHayekianMarket.ind
paperLaTeX_folder/microHayekianMarket/microHayekianMarket.lof
paperLaTeX_folder/microHayekianMarket/microHayekianMarket.log
paperLaTeX_folder/microHayekianMarket/microHayekianMarket.out
paperLaTeX_folder/microHayekianMarket/microHayekianMarket.synctex.gz
paperLaTeX_folder/microHayekianMarket/microHayekianMarket.toc
